<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ngWaitstaff</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<main ng-controller="myController">

		<section id="mealDetails">
			<form name="mealDetails__form" novalidate ng-submit="submit()">
				<h1>Enter the Meal Details</h1>
				<div>
					<label for="base-meal-price">Base Meal Price: $</label>
					<input type="number" name="base-meal-price" placeholder="0" ng-model="meal_data.baseMealPrice" required />
				</div>
				<div>
					<label for="tax-rate">Tax Rate: %</label>
					<input type="number" name="tax-rate" placeholder="14" ng-model="meal_data.taxRate" required />
				</div>
				<div>
					<label for="tip-percentage">Tip Percentage: %</label>
					<input type="number" name="tip-percentage" placeholder="15" ng-model="meal_data.tipPercentage" required />
				</div>
				<button type="submit" class="submit">Submit</button>
				<button class="cancel">Cancel</button>
			</form>
		</section>

		<section id="charges">
			<h1>Customer Charges</h1>
			<table>
				<tr class="charges__subtotal">
					<td>Subtotal:</td>
					<td>{{ charges_data.subtotal | number:2}}</td>
				</tr>
				<tr class="charges__tip">
					<td>Tip:</td>
					<td>{{ charges_data.tip | number:2 }}</td>					
				</tr>
				<tr class="charges__total">
					<td>Total:</td>
					<td>{{ charges_data.total | number:2 }}</td>
				</tr>
			</table>
		</section>

		<section id="earnings">
			<h1>My Earnings Info</h1>
			<table>
				<tr class="earnings__tip-total">
					<td>Tip Total:</td>
					<td>{{ master_data.tipTotal | number:2 }}</td>
				</tr>
				<tr class="earnings__meal-count">
					<td>Meal Count:</td>
					<td>{{ master_data.mealCount }}</td>					
				</tr>
				<tr class="earnings__avg-tip-per-meal">
					<td>Average Tip Per Meal:</td>
					<td>{{ master_data.avgTips | number:2 }}</td>
				</tr>				
			</table>
		</section>
		<button class="reset">Reset</button>
	</main>
</body>
</html>